@using NearForums.Web.Extensions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    @Html.Partial("HeadContainer")
}
@section styles{
    @Html.Stylesheet("~/Areas/Forum/styles/layout.css")
    @Html.Stylesheet("~/Areas/Forum/styles/content.css")
}

<div class="container">
    <div id="header">
        @Html.Partial("HeaderContent", ViewData)
    </div>
    @RenderBody()
</div>
