@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="pageloader" style="display: none;">
        <div class="loader-item" style="display: none;">
            <img src="/images/loading.gif" alt="loader">
        </div>
    </div>
    <!--end:preloader-->
    <!--wrapper-->
    <div class="wrapper">
        @Banner()
        @Header()

        <section class="dm-features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-heading large-head2 bold">
                            <h1>Features</h1>
                        </div>
                    </div>
                    @Feature("Authentication Enabled", "Authenticate with Facebook, Twitter, Google or simply through your database.", "magic")
                    @Feature("Modularized template code", "Template markup in all the right places. Shared markup in _Layout pages. Page markup at page level.", "twitter")
                    @Feature("Unit tests", "Complete suite of both server-side and Javascript unit tests. Powered by SinonJs, Qunit, XUnit and Moq for ASP.NET MVC projects.", "flag")
                    @Feature("Database ORM Enabled", "SQL Server database ready powered by Dapper ORM. Simple to extend or replace with your favorite ORM.", "google")
                </div><!--end:row-->
                <div class="row">
                    @Feature("Dependency Injection", "Powered by Structuremap or Unity for ASP.NET MVC projects. Makes it a breeze to replace any technology we provide with your own.", "history")
                    @Feature("DotLESS and Bundling support", "DotLess integrated to make extending our css a breeze. All css in less and css format.", "shopping-cart")
                    @Feature("Azure ready", "Ships with an azure project. Configure it with your own azure account and deploy in minites.", "refresh")
                    @Feature("Debugging tools in place", "RouteDebugger, MiniProfiler, Glimpse already integrated for ASP.NET MVC projects.", "android")
                </div><!--end:row-->
                <div class="row">
                    @Feature("Responsive HTML5 and CSS3 templates", "All templates are responsive html5 and css3 templates. Ready to go out of the box.", "html5")
                    @Feature("Latest and Greatest Frameworks", "Using ASP.NET MVC5, KnockoutJS, JQuery for asp.net MVC projects", "html5")
                    @Feature("All template features wired in", "For instance, if you find a template on our site with a blogging system, it's already fully coded.", "html5")
                    @Feature("Full support", "30 days of support out of the box or sign up for our 1 year support package to cover everything including the kitchen sink.", "header")
                </div><!--end:row-->
            </div><!--end:container-->
        </section> <!--end:features-->
        <section style=" padding:100px 0;" id="dm-demos">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-heading large-head2 bold">
                            <h1>One Demos</h1>
                            <span>Simply elegant and professional, ideal design for any business</span>
                        </div>
                        <br>
                        <br>
                    </div><!--end:col-->



                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="o-demo new">
                            <div class="mask"><a class="btn btn-large btn-success btn-radius" target="_blank" href="http://demo.woorockets.com/html/one/shop4.html">	Live demo </a></div>
                            <img src="/images/9.jpg">
                            <h3> Fullscreen shop </h3>
                            <span> E-commerce </span>
                        </div><!--end:o-demo-->
                    </div><!--end:col-->



                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="o-demo">
                            <div class="mask"><a class="btn btn-large btn-success btn-radius" target="_blank" href="http://demo.woorockets.com/html/one/index1.html">	Live demo </a></div>
                            <img src="/images/1.jpg">
                            <h3> Full screen slider </h3>
                            <span> Corporate </span>
                        </div><!--end:o-demo-->
                    </div><!--end:col-->

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="o-demo">
                            <div class="mask"><a class="btn btn-large btn-success btn-radius" target="_blank" href="http://demo.woorockets.com/html/one/index2.html">	Live demo </a></div>
                            <img src="/images/2.jpg">
                            <h3> Full width slider </h3>
                            <span> Corporate </span>
                        </div><!--end:o-demo-->
                    </div><!--end:col-->



                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="o-demo">
                            <div class="mask"><a class="btn btn-large btn-success btn-radius" target="_blank" href="http://demo.woorockets.com/html/one/index3.html">	Live demo </a></div>
                            <img src="/images/3.jpg">
                            <h3> Fixed width slider </h3>
                            <span> Corporate </span>
                        </div><!--end:o-demo-->
                    </div><!--end:col-->



                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="o-demo">
                            <div class="mask"><a class="btn btn-large btn-success btn-radius" target="_blank" href="http://demo.woorockets.com/html/one/shop.html">	Live demo </a></div>
                            <img src="/images/5.jpg">
                            <h3> Full width slider </h3>
                            <span> E-commerce </span>
                        </div><!--end:o-demo-->
                    </div><!--end:col-->


                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="o-demo">
                            <div class="mask"><a class="btn btn-large btn-success btn-radius" target="_blank" href="http://demo.woorockets.com/html/one/shop2.html">	Live demo </a></div>
                            <img src="/images/6.jpg">
                            <h3> Full width product </h3>
                            <span>  E-commerce </span>
                        </div><!--end:o-demo-->
                    </div><!--end:col-->


                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="o-demo">
                            <div class="mask"><a class="btn btn-large btn-success btn-radius" target="_blank" href="http://demo.woorockets.com/html/one/shop3.html">	Live demo </a></div>
                            <img src="/images/7.jpg">
                            <h3> Boxed width layout </h3>
                            <span>  E-commerce</span>
                        </div><!--end:o-demo-->
                    </div><!--end:col-->


                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="o-demo">
                            <div class="mask"><a class="btn btn-large btn-success btn-radius" target="_blank" href="http://demo.woorockets.com/html/one/index4.html">	Live demo </a></div>
                            <img src="/images/4.jpg">
                            <h3> Vertical menu </h3>
                            <span> Creative </span>
                        </div><!--end:o-demo-->
                    </div><!--end:col-->


                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="o-demo">
                            <div class="mask"><a class="btn btn-large btn-success btn-radius" target="_blank" href="http://demo.woorockets.com/html/one/onepage.html">	Live demo </a></div>
                            <img src="/images/8.jpg">
                            <h3> Creative </h3>
                            <span> Creative </span>
                        </div><!--end:o-demo-->
                    </div><!--end:col-->

                </div><!--end:row-->



            </div>
        </section> <!--end:features-->
    </div><!--end:wrapper-->
    
@section footer {
    <a href="#" class="back-to-top" style="display: none;"> <i class="fa fa-angle-up"></i> </a>
}

@section scripts {
    <script>
        if (!window.console) console = { log: function () { } };
        // The actual plugin
        $('.main-menu').singlePageNav({
            offset: $('.main-menu').outerHeight(),
            filter: ':not(.external)',
            updateHash: true,
            beforeStart: function () {
                console.log('begin scrolling');
            },
            onComplete: function () {
                console.log('done scrolling');
            }
        });


        $(document).ready(function () {
            new google.maps.places.SearchBox(document.getElementById('location'));
            $('body').addClass('no-hidden');
        });
    </script>
}

@helper Feature(string title, string description, string icon)
{
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="services-box single-icon">
            <div class="icon-box">
                <i class="@string.Format("fa fa-{0}", icon)"></i>
            </div>
            <div class="sb-content-wrap">
                <h3>@title</h3>
                <p>@description</p>
            </div>
        </div>
    </div><!--end:col-->
}

@helper Header()
{
    <header class="header-2" style="height: auto;">
        <div class="nav-container stickmenu clearfix" style="top: 0px;">
            <div class="inner">
                <a class="logo" href="/">
                    <img alt="" src="/Images/main-logo.png">
                </a>
                <ul class="main-menu">
                    <li class="active"><a href="#features">Features</a></li>
                    <li class=""><a href="#dm-demos">Demos</a></li>
                    <li><a href="/" target="_blank" class="external">Support</a></li>
                </ul>
                <!-- end:main-menu -->

                <div id="mobile-menu" class="dl-menuwrapper">
                    <button class="dl-trigger"><i class="fa fa-bars"></i></button>
                    <ul class="dl-menu">
                        <li class="active"><a href="#features">Features</a></li>
                        <li><a href="#dm-demos">Demos</a></li>
                        <li><a href="http://support.woorockets.com/" target="_blank" class="external">Support</a></li>
                    </ul>
                </div><!-- /dl-menuwrapper -->



            </div> <!--end:inner-->
        </div><!--end:nav-container-->
    </header>
}

@helper Banner()
{
    <section class="one-section dm-hero" id="features">
        <div class="middle-content">
            <div style="text-align: center;" >
                <img src="/images/logo-white.png"><br>
                <h1>MvcThemes</h1>
                <h2>The union of templates and ASP.NET MVC</h2>
            </div>
        </div>
    </section> <!--hero-->
}