@using NearForums.Web.Extensions
@model RunThemes.Data.Models.User
<h2>@string.Format("Messages posted by {0}", Model.UserName)</h2>
<p class="messageButton"><a href="#" onclick="return getMessages()">@string.Format("Get all messages posted by {0}", Model.UserName)</a></p>
<p id="loadingMessages" style="display:none;font-style: italic;">@Html.Img("~/images/loadingMini.gif", "") @string.Format("Loading...")</p>
<div id="messagesResult" style="display:none;"></div>
<script type="text/javascript">
	function getMessages()
	{
		$("p.messageButton").hide();
		$("#loadingMessages").fadeIn();
		$.ajax({
			url: '@(Url.Action("MessagesByUser"))',
			cache: true,
			dataType: "html",
			success: function (html)
			{
				if ($.trim(html) != "")
				{
					$("#loadingMessages").hide();
					$("#messagesResult").append(html).slideDown();
				}
				else
				{
					$("#loadingMessages").hide();
					$("#loadingMessages").html('@string.Format("No messages found.")').fadeIn();
				}
			}
		});
		return false;
	}
</script>