@using System.Collections
@using NearForums
@using NearForums.Web.Extensions
@model RunThemes.Data.Models.User
@{
	ViewBag.Title = string.Format("{0} profile", Model.UserName);
}
<div class="userDetail">
	<h1>@ViewBag.Title</h1>

	@if (Model.Banned || Model.Warned || Model.Suspended)
	{
		<div class="moderated">
		@if (Model.Banned)
        {
            <span>The user is banned from the forums.</span>
        }
        else if (Model.Suspended)
        {
            string.Format("The user is suspended from the forums, until {0:d}.", Model.SuspendedEnd);
        }
        else
        {
            <span>The user has been warned by a moderator.</span>
        }
		</div>
	}
	<p><strong>Role:</strong> @Model.RoleName</p>
	<p>
		<strong>@string.Format("Member for:")</strong> @Html.Partial("SinceDate", Model.UserRegistrationDate)
	</p>
	@if (ViewData.Get<IList>("Topics").Count > 0)
	{
		<h2>@string.Format("Threads posted by {0}", Model.UserName)</h2>
		<ul>
		@foreach (Topic t in (IList)ViewData["Topics"])
		{
			<li>@Html.ActionLink(t.Title, "ShortUrl", "Topics", new{id=t.Id}, null)</li>	
		}
		</ul>
	}
	@Html.Partial("DetailMessages")
	@Html.Partial("Toolbar")
</div>