@model Topic
@{
	ViewBag.Title = Model.Title;
	ViewBag.HasPostAccess = Model.HasPostAccess(Role);
}
@section Head{
	@Html.MetaDescription(Utils.Summarize(Utils.RemoveTags(Model.Description), 160, ""))
    @Html.Script("~/Areas/Forum/scripts/pager.js")
}
<ul class="path">
    <li>@Html.ActionLink(Model.Forum.Name, "Detail", "Forums", new{forum=Model.Forum.ShortName}, null)</li>
</ul>
<div id="comments">
    <div class="text-heading pattern"> <h3>@ViewBag.Title</h3> </div>
    <ol class="commentlist">
        <li>
            <div class="comment_container">
                <div class="avatar"><img src="@Model.User.Photo" alt="user photo"></div>
                <div class="comment-text">
                    <p class="meta"> <strong>@Html.ActionLink(Model.User.UserName, "Detail", "Users", new { id = Model.User.Id }, new { rel = "nofollow" })</strong> – <time>@Html.Date(Model.Date)</time> </p>
                    <div class="description"> <p>@Html.Raw(Model.Description)</p> </div>
                </div> <!--end:comment-text-->
            </div><!--end:comment_container-->
        </li>
        
        @if (Model.Messages.Count > 0)
        {
                foreach (var m in Model.Messages)
                {
                    <li>
                        <div class="comment_container">
                            <div class="avatar">
                                <a href="@Url.Action("Detail", "Users", new { id=m.User.Id})">
                                    <img src="@m.User.Photo" alt="@m.User.UserName" />
                                </a>
                            </div>
                            <div class="comment-text">
                                <p class="meta"> <strong>@Html.ActionLink(m.User.UserName, "Detail", "Users", new { id = m.User.Id }, new { rel = "nofollow" })</strong> – <time>@Html.Date(m.Date)</time> </p>
                                <div class="action-link">
                                    <a href="#"><i class="fa fa-pencil"></i> <span>Edit</span></a>
                                    <a href="#"><i class="fa fa-comments"></i> <span>Reply</span></a>
                                </div>
                                <div class="description">
                                    @if (m.Active)
                                    {
                                        <p>@Html.Raw(m.Body)</p>
                                    }
                                    else
                                    {
                                        <p class="removed">@T("The message was removed by a forum moderator.")</p>
                                    }
                                </div>
                            </div> <!--end:comment-text-->
                        </div><!--end:comment_container-->
                    </li>
                }
        }
    </ol>
    <div class="clear"></div>
</div>
<div class="topicDetail">
	<div id="pagerClient" style="display:none;"><a href="#" onclick="pager.more();return false;">@Html.Img("~/Areas/Forum/images/loadingMini.gif", "") @T("Show more messages")</a></div>
	@Html.Pager(Config.UI.MessagesPerPage, PageIndex, Model.Replies, S("Previous"), S("Next"))
	@Html.Partial("Toolbar")
</div>

@section scripts{
    @Html.Script("~/Areas/Forum/scripts/overtip.js")
    @Html.Script("~/Areas/Forum/scripts/quoting.js")

    <script type="text/javascript">

        $(document).ready(function () {
            quoting.init();
            pager.init('@Url.Action("PageMore", "Topics", new{id=Model.Id})', '@Url.Action("PageUntil", "Topics", new{id=Model.Id})', '@T("The browser has lost session, click ok to return to the login page")');
        });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#messages li")
            .on("body", "tap", function () { $(this).toggleClass("over"); })
            .on("body", "mouseenter", function () { $(this).css("background-color", "").addClass("over"); })
            .on("body", "mouseleave", function () { $(this).removeClass("over"); });
    });
    function flagMessage(mid, url) {
        $.post(url, { mid: mid }, function (data) {
            alert('@T("Thanks you, a moderator will review the message.")');
        });
        return false;
    }
    function deleteMessage(mid, url) {
        return deleteMessageCommon(mid, url, '@T("Are you sure you want to hide the message #{0}?")', '@T("Message removed")', null);
    }
</script>
    
}