@using WhiteLabel.Web.Views

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Header -->
@Html.Partial("MiniHeader")

@Html.Partial("Sidebar")

<div id="wrapper">
    @RenderBody()
    <div class="clearfix"></div>
</div>
    @section scripts{
        @RenderSection("scripts", required: false)
    }

    @section styles{
        @RenderSection("styles", required: false)
    }
