@model Forum
@{
	ViewBag.Title = T("{0} - Unanswered threads", Model.Name);
}	
<div class="forumDetail">
	<h1>@ViewBag.Title</h1>
    @if (Model.HasPostAccess(Role))
    {
        <p class="action">@Html.ActionLinkLocalized("Post a thread >>", "Add", "Topics", new { forum = this.Model.ShortName }, null)</p>
    }
    else if (User == null)
    {
        <h2>@T("New Topic in this Forum")</h2>
        <p>@T("You must <a href=\"{0}\">sign in</a> to post.", Url.Action("Login", "Authentication", new { returnUrl = Request.Url.PathAndQuery }))</p>
    }
	@if (Model.Topics.Count > 0)
	{
		Html.RenderPartial("ForumTopicList", this.Model.Topics);
	}
	else
	{
		<p class="warning">@T("No unanswered threads for this forum.")</p>
	}
</div>