@model NearForums.Web.Controllers.ViewModels.Messages.RemoveMessageViewModel

@{
    ViewBag.Title = T("Remove Message");
}

<ul class="path floatContainer">
	<li class="first">@Html.ActionLinkLocalized("Forums", "List", "Forums")</li>
	<li>@Html.ActionLink(Model.Message.Topic.Forum.Name, "Detail", "Forums", new { forum=Model.Message.Topic.Forum.ShortName }, null)</li>
	<li>@Html.ActionLink(Model.Message.Topic.Title, "Detail", "Topics", new { id = Model.Message.Topic.Id, name = Model.Message.Topic.ShortName, forum = Model.Message.Topic.Forum.ShortName }, null)</li>
</ul>

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm("Delete", "Messages", FormMethod.Post))
{
	<ul id="messages">
		@Html.Partial("MessageItem", Model.Message)
	</ul>
	
	<div class="formItem floatContainer">
		<label for="RemovalReasonId">@T("Removal Reason")</label> 
		
		@Html.DropDownListDefault("RemovalReasonId", Model.RemovalReasons, "", "Select")
	</div>

	<div class="formItem buttons">
		<input type="submit" value="@T("Remove")" />
	</div>
}