@using RunThemes.Web.Models
@model HeaderMenu
<style>
    .login-menu.main-menu {
        float: right;
    }
</style>
<header class="header-2" style="height: auto;">
    <div class="nav-container stickmenu clearfix" style="top: 0;">
        <div class="inner">
            <ul class="main-menu">
                @MenuList()
            </ul>
            @*@if (!Request.IsAuthenticated)
            {
                <a class="btn btn-primary btn-orange logo" href="/">Sell your theme through us</a>
            }*@
            <ul class="login-menu main-menu">
                @Html.Partial("_LoginPartial")
            </ul>
            <!-- end:main-menu -->
            <div id="mobile-menu" class="dl-menuwrapper">
                <button class="dl-trigger"><i class="fa fa-bars"></i></button>
                <ul class="dl-menu">
                    @MenuList()
                </ul>
                <ul class="login-menu main-menu">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div><!--end:nav-container-->
        </div>
    </div>
</header>

@helper MenuList()
{
    <li class="@string.Format("{0}", Model == HeaderMenu.Features ? "active": "")">
        <a id="dm-featuresLink" href="/#dm-features">Features</a>
    </li>
    <li><a id="dm-kitsLink" href="/#dm-kits">Kits</a></li>
    <li class="@string.Format("{0}", Model == HeaderMenu.Support ? "active" : "")"><a id="supportLink" href="/forum/support" class="external">Support</a></li>
    if (Request.IsAuthenticated)
    {
        <li class="@string.Format("{0}", Model == HeaderMenu.Downloads ? "active": "")"><a id="downloadsLink" href="/downloads#downloads" class="external">My Downloads</a></li>
    }
}